
 .item-block:first-child {
    border-top: 0!important;
}
.text-input {
    margin: 0 !important;
    margin-bottom: 5px !important;
    width: 100%!important;
}

.label {
    font-size: 13px;
    color: #666;
    font-weight: 600;
}
.list-ios {
    margin: 0!important;
}