.past-req-container {
    box-shadow: none!important;
    padding: 0!important;
    margin: 0!important;
    width: 100%!important;
    margin-bottom: 10px!important;
    padding-bottom: 10px!important;
    border-bottom: 1px dashed #1f1d1d!important;
}

.past-req-container img.iocnlogo {
    float: left!important;
    width: 60px!important;
    padding-right: 10px!important;
}
.past-request-block {
    float: left !important;
    width: calc(100% - 70px)!important;
    padding-right: 0!important;
    color: #333333!important;
    padding-top: 0!important;
    font-size: 16px!important;
    font-weight: 600 !important;
    border: none!important;
    padding-bottom: 0!important;
}


.past-req-container button {
    font-weight: 700!important;
    height: 50px!important;
    font-size: 22px!important;
    border-radius: 5px!important;
    padding: 10px!important;
}
.past-request-block span {
    word-break: normal!important;
    white-space: normal!important;
}
.alert-button {
    background: #949494!important;
    color: #fff!important;
    padding: 6px 21px!important;
    height: 50px!important;
    font-weight: 600!important;
}

.alert-button-group .alert-button:last-child {
    background: #1A8AD6!important;
}