page-submit {

}

.alert-md .alert-button {
    text-align: right;
    text-align: end;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    text-transform: uppercase;
    color:green;
    background-color: transparent;
    margin: 0 8px 0 0;
    padding: 10px;
  }

  textarea { max-width: 100%; width: 100%; height: 40vh; }
  .action-sheet-button {
    padding-left:10px!important;

}